services:

  # HDFS - namenode
  namenode:
    image: apache/hadoop:3.4.2
    build:
      context: .
      dockerfile: apache.dockerfile
    container_name: namenode
    hostname: namenode
    command: ["hdfs", "namenode"]
    ports:
      - 9870:9870 # HDFS UI
    env_file:
      - ./hadoop.env
    environment:
      # ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
      ENSURE_NAMENODE_DIR: "/opt/hadoop/namenode"

  # HDFS - datanode
  datanode:
    image: apache/hadoop:3.4.2
    build:
      context: .
      dockerfile: apache.dockerfile
    container_name: datanode
    command: ["hdfs", "datanode"]
    env_file:
      - ./hadoop.env

  # YARN - RM
  resourcemanager:
    image: apache/hadoop:3.4.2
    build:
      context: .
      dockerfile: apache.dockerfile
    container_name: yarn
    hostname: resourcemanager
    command: ["yarn", "resourcemanager"]
    ports:
        - 8088:8088 # Resource Manager UI
    env_file:
      - ./hadoop.env

  # YARN - NM
  nodemanager:
    image: apache/hadoop:3.4.2
    build:
      context: .
      dockerfile: apache.dockerfile
    container_name: yarnnm
    command: ["yarn", "nodemanager"]
    env_file:
      - ./hadoop.env
