networks: 
  hadoop:

services:

  # ------------------------------
  # HDFS
  # ------------------------------
  namenode:
    image: hadoop:3.4.2
    build: 
      context: .
      dockerfile: local.dockerfile
    container_name: namenode
    ports: 
      - 9870:9870 # HDFS UI
      - 9868:9868 # Secondary Namenode port
    volumes: 
      - ./conf/core-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/hdfs-site.xml
      - ./conf/mapred-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/mapred-site.xml
      - ./conf/yarn-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/yarn-site.xml
    networks:
      - hadoop
    command:
      - "-c"
      - |
        echo "Starting ssh service..."
        service ssh start 

        echo "Formating the filesystem..."
        hdfs namenode -format

        echo "Starting Namenode daemon..."
        hdfs --config /home/hadoop/hadoop-3.4.2/etc/hadoop --daemon start namenode

        # TODO: find a better way to solve this issue
        echo "Waiting for datanodes to connect..."
        sleep 10

        echo "Creating the HDFS directories required to execute MapReduce jobs..."
        hdfs dfs -mkdir /user
        hdfs dfs -mkdir /user/$$(whoami)

        tail -f /home/hadoop/hadoop-3.4.2/logs/*log

  datanode:
    image: hadoop:3.4.2
    build: 
      context: .
      dockerfile: local.dockerfile
    container_name: datanode
    ports: 
      - 9864:9864 # Datanode port
    volumes: 
      - ./conf/core-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/hdfs-site.xml
      - ./conf/mapred-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/mapred-site.xml
      - ./conf/yarn-site.xml:/home/hadoop/hadoop-3.4.2/etc/hadoop/yarn-site.xml
    networks:
      - hadoop
    command:
      - "-c"
      - |
        echo "Starting ssh service..."
        service ssh start

        echo "Formating the filesystem..."
        hdfs datanode -regular

        echo "Starting DataNode daemon..."
        hdfs --config /home/hadoop/hadoop-3.4.2/etc/hadoop --daemon start datanode

  # ------------------------------
  # YARN
  # ------------------------------
  resourcemanager:
    image: hadoop:3.4.2
    build: 
      context: .
      dockerfile: local.dockerfile
    container_name: resourcemanager
    ports: 
      - 8088:8088 # Resource Manager UI
      - 8042:8042 # Nodemanager UI
    networks: 
      - hadoop
    command:
      - "-c"
      - |
        echo "Starting ssh service..."
        service ssh start 

        echo "Starting ResourceManager daemon and NodeManager daemon..."
        yarn --config /home/hadoop/hadoop-3.4.2/etc/hadoop --daemon start resourcemanager
        yarn --config /home/hadoop/hadoop-3.4.2/etc/hadoop --daemon start nodemanager

        tail -f /home/hadoop/hadoop-3.4.2/logs/*log
